/* Canvi de colors predeterminats */

body {
	background-color: #fff!important;
	color: black!important;
}

.uabmedia-title {
    color: black!important;
}

header .navbar ul li.menu-item a {
	color: black!important;
}

header .navbar-light .menu-item svg {
	filter: invert(15%) sepia(0%) saturate(3102%) hue-rotate(66deg) brightness(89%) contrast(81%)!important;
}

.icones-socials svg {
    filter: invert(15%) sepia(0%) saturate(3102%) hue-rotate(66deg) brightness(89%) contrast(81%)!important;
}

header .nav-icon a {
	color: #333;
}

header .navbar ul li.menu-item a:hover {
    color: var(--primari)!important;
}

/* Notícia */

.noticia-caixa {
	position: relative;
	overflow: hidden;
}

.noticia-caixa .titol {
	font-size: 2.5em!important;
	font-family: 'Merriweather', serif;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 20px;
	color: black!important;
}

@media(max-width:991px) {
	.noticia-caixa .titol {
		font-size: 2em!important;
	}
}

.noticia-caixa .subtitol {
	font-size: 1.2em;
	font-weight: normal!important;
	color: black!important;
}

.noticia-caixa h2, .noticia-caixa h3, .noticia-caixa h4, .noticia-caixa h5 .noticia-caixa h6 {
	font-size: 1.5em!important;
	font-family: 'Merriweather', serif;
	line-height: 1.2;
	font-weight: 600;
	margin: 50px 0 20px 0!important;
	color: black!important;
}

.noticia-caixa a {
	color: #FF4C3E!important;
}

.noticia-caixa .noticia-imatge {
	position: relative;
	text-align: center;
	display: inline-block;
	width: 100%
}

.noticia-caixa .noticia-imatge img {
	margin-bottom: 1em;
	background: var(--blanc-light-color)
}

img {
	max-width: 100%;
	height: auto
}

blockquote {
	padding: 15px 30px;
	border-left: 10px solid var(--primari);
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: var(--um-radius-sm, 8px)
}

blockquote p {
	margin-bottom: 0 !important
}

blockquote cite {
	font-weight: bold
}

cite a {
	color: var(--primari)
}

embed,
iframe,
object {
	max-width: 100%;
	width: 100%
}

/* Widget darreres notícies */

.darreres-noticies {
	margin-bottom: 1.875em;
	display: inline-block;
	width: 100%;
	position: relative;
	color: black!important;
}

.darreres-noticies .titol-widget {
	font-size: 1.3rem!important;
	font-weight: 600;
	margin-bottom: 1rem;
	padding-bottom: clamp(0.13rem,calc(0.13rem + 0vw),0.13rem);
	border-bottom: 2px solid #fff;
	color: black!important;
}

.darreres-noticies .noticia .titol {
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	line-height: 1.2;
	color: black!important;
}

.darreres-noticies ul {
	padding-left: 0;
	list-style: none;
}

.darreres-noticies .noticia .titol {
	font-family: 'Merriweather', serif;
	font-size: 1rem;
	line-height: 1.2;
	color: black!important;
}

.post-img-holder {
	width: 80px;
	margin-right: 20px;
	flex: none;
	line-height: 0
}

.post-img-holder a {
	border-radius: var(--um-radius, 12px);
	display: block;
	width: 100%;
	height: 70px;
	overflow: hidden;
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat
}

.um-widget-menu .post-img .post-blog .blog-box ul li {
	margin-bottom: 0
}

.um-widget-menu ul.um-post li .post-img {
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.noticia ul li {
	padding-bottom: 15px;
	list-style: none;
	margin-bottom: 15px
}

footer {
	color: white!important;
}